[mysql]
default-character-set=utf8
[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
default-storage-engine=INNODB
default-character-set=utf8
character-set-server=utf8
lower_case_table_names=1
innodb_file_per_table=1
log=/var/lib/mysql/mysql.log
log-error=/var/lib/mysql/mysqlerror.log
log-bin=/var/lib/mysql/mysql-bin
log-slow-queries=/var/lib/mysql/showquery.log
long-query-time=1
log-queries-not-using-indexes=1
[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
